.infoBox__stats {
    display: flex;

    justify-content: space-between;
}

.infoBox {
    flex: 1;
}
.infoBox:not(:last-child) {
    margin-right: 1rem;
}

.infoBox__cases {
    font-size: 1.3rem;
}
